<!doctype html>
<html lang="en">

<head>
    <title>Shopping Cart</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/6ac12fa637.js" crossorigin="anonymous"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href=" /css/style.css">
</head>

<body>
    {{>header name=user.fullname money=user.balance}}

    <main>
        <div class="container-fluid">
            <div class="row flex-nowrap">

                <div class="sidenav">
                    <a href="#">
                        <img src=" /img/chart-line-solid.svg" alt="">
                        <span>Dashboard</span>
                    </a>
                    <a href="#" class="active-page">
                        <img src=" /img/graduation-cap-solid.svg" alt="">
                        <span>Courses</span>
                    </a>
                    <a href="#">
                        <img src=" /img/users-solid.svg" alt="">
                        <span>Find Mentor</span>
                    </a>
                    <a href="#">
                        <img src=" /img/clipboard-list-solid.svg" alt="">
                        <span>Booking & Schedule</span>
                    </a>


                </div>

                <div class="main-content">
                    <!-- <div class="student-discovery-tag-row">
                        <div class="tag active">My Courses</div>
                        <div class="tag">Discovery</div>
                    </div> -->
                    <div class="cart-main-container">
                        <h1 class="cart_menu_header">Shopping Cart</h1>
                        <div class="cart_menu_body">
                            <div class="cart_detail">
                                <h1 class="courses_in_cart">1 Courses in cart</h1>
                                <div class="separator"></div>

                                <div class="item_in_cart">
                                    <img style="width: 10rem;" src="{{course.courseimg}}" alt="" class="item_img">
                                    <div class="item_detail">
                                        <div class="col_1">
                                            <p class="item_name" style="font-size: 1rem;"> {{course.title}}</p>
                                            <div class="item_author" style="font-size: 1rem;">By {{course.author}}</div>
                                            <div class="row_1_2">
                                                <div class="rating_number">{{course.ratings}}</div>
                                                <div class="rate_stars d-flex">
                                                    <img src=" /img/Star.png" alt="">
                                                    <img src=" /img/Star.png" alt="">
                                                    <img src=" /img/Star.png" alt="">
                                                    <img src=" /img/Star.png" alt="">
                                                    <img src=" /img/Star.png" alt="">
                                                </div>
                                                <div class="rating_people">({{course.numberrating}} ratings)</div>
                                            </div>
                                            <div class="item_length">{{course.duration}} total hours • {{course.numberlessons}} lectures • All Levels</div>
                                        </div>
                                        
                                        <div class="col_2">
                                            <div class="remove_button">Remove</div>
                                            <div class="save_for_later_button">Save for later</div>
                                        </div>
                                        
                                        <div class="col_3">
                                            <div class="item_price">đ{{course.price}}</div>
                                            {{!-- <div class="original_price">đ2,499,000</div> --}}
                                        </div>
                                    </div>
                                </div>
                                
                                

                                <h1 class="save_for_later">Save for later</h1>
                                <div class="separator"></div>

                                <div class="item_in_cart">
                                    <img src=" {{course.courseimg}}" alt="" class="item_img">
                                    <div class="item_detail">
                                        <div class="col_1">
                                            <p class="item_name"> {{course.title}}</p>
                                            <div class="item_author">By  {{course.author}}</div>
                                            <div class="row_1_2">
                                                <div class="rating_number">{{course.ratings}}</div>
                                                <div class="rate_stars d-flex">
                                                    <img src=" /img/Star.png" alt="">
                                                    <img src=" /img/Star.png" alt="">
                                                    <img src=" /img/Star.png" alt="">
                                                    <img src=" /img/Star.png" alt="">
                                                    <img src=" /img/Star.png" alt="">
                                                </div>
                                                <div class="rating_people">({{course.numberrating}} ratings)</div>
                                            </div>
                                            <div class="item_length">{{course.duration}} total hours • {{course.numberlessons}} lectures • All Levels</div>
                                        </div>
                                        
                                        <div class="col_2">
                                            <div class="remove_button">Remove</div>
                                            <div class="save_for_later_button">Save for later</div>
                                        </div>
                                        
                                        <div class="col_3">
                                            <div class="item_price">đ{{course.price}}</div>
                                            {{!-- <div class="original_price">đ2,499,000</div> --}}
                                        </div>
                                        
                                        
                                        
                                    </div>
                                </div>
                                

                            </div>
                            
                            <div class="price">
                                <!-- <img src=" /img/Course_preview.svg" alt="" class="preview__img"> -->
                                <div class="price_body">
                                    <h1 class="total_header">Total</h1>
                                    <div class="total_price">đ{{course.price}}</div>
                                    {{!-- <div class="original_price">đ2,499,000</div>
                                    <div class="sale_off">72% off</div> --}}
                                    <div id="buy-btn" class="buy_button">Check out</div>
                                    
                                </div>


                            </div>
                        </div>
                        
                    </div>
                      

                </div>

            </div>
    </main>

     <!-- Modal -->
        <div class="modal fade" id="success-modal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Mua khóa học thành công</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modal-content" class="modal-body">
                       Cảm ơn bạn đã mua khóa học này, hãy quay lại trang my course để kiểm tra !
                    </div>
                    <div class="modal-footer">
                        <a href="/mycourse" type="button" class="btn btn-success" id="close-btn" >Quay về my course</a>
                        <a href="/" class="btn btn-info">Quay về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper1 = new Swiper(".mySwiper1", {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        var swiper2 = new Swiper(".mySwiper2", {
            slidesPerView: 5,
            spaceBetween: 10,
            slidesPerGroup: 5,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        var swiper3 = new Swiper(".mySwiper3", {
            slidesPerView: 1,
            slidesPerGroup: 1,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
   <script src="/js/authorization.js"></script>
    <script src="/js/buyCourse.js"></script>
</body>

</html>