<!doctype html>
<html lang="en">

<head>
    <title>Discovery</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/6ac12fa637.js" crossorigin="anonymous"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href=" /css/style.css">
</head>

<body>
    {{>header name=user.fullname money=user.balance}}

    <main>
        <div class="container-fluid">
            <div class="row flex-nowrap">

                <div class="sidenav">
                    <a href="/">
                        <img src=" /img/chart-line-solid.svg" alt="">
                        <span>Dashboard</span>
                    </a>
                    <a href="/discovery" class="active-page">
                        <img src=" /img/graduation-cap-solid.svg" alt="">
                        <span>Courses</span>
                    </a>
                    <a href="#">
                        <img src=" /img/users-solid.svg" alt="">
                        <span>Find Mentor</span>
                    </a>
                    <a href="#">
                        <img src=" /img/clipboard-list-solid.svg" alt="">
                        <span>Booking & Schedule</span>
                    </a>


                </div>

                <div class="main-content">
                    <div class="student-discovery-tag-row">
                        <a href="/mycourse" class="tag">My Courses</a>
                        <a href="/discovery"  class="tag active">Discovery</a>
                    </div>
                    <div class="student-main-container">
                        <div class="discovery-topic-nav">
                            <div class="topic">Development</div>
                            <div class="topic">Web Development</div>
                            <div class="topic">Data Science</div>
                            <div class="topic">Mobile Development</div>
                            <div class="topic">Programming Languages</div>
                            <div class="topic">Game Development</div>
                            <div class="more"><i class="fa-solid fa-ellipsis-vertical"></i></i>
                            </div>
                        </div>

                        <h1>Development Courses</h1>
                        <h2>Courses to get you started</h2>
                        <div class="topic-nav">
                            <a href="" class="topic-nav-active">Most popular</a>
                            <a href="">New</a>
                            <a href="">Trending</a>
                        </div>
                        <hr>
                        <br>

                        <div class="recommend-course">
                            <div class="swiper mySwiper1 slide-container">
                                <div class="swiper-wrapper card">
                                    <h2 style="width: 100%;" class="text-center">{{notfound}}</h2>
                                   {{#each course}}
                                        <div class="swiper-slide">
                                        <div class=" card-container">
                                            <a href="/course?id={{course_id}}" class="image">
                                                <img src="{{courseimage}}" alt="">
                                            </a>

                                            <div class="content">
                                                <a href="/course?id={{course_id}}" style="text-decoration: none;color:black" class="course-name">{{coursetitle}}</a>
                                                <div class="course-author">{{author}}</div>
                                                <div class="course-rating">
                                                    <span class="rating">{{rating}}</span>
                                                    <span><i class="fa-solid fa-star"></i></span>
                                                    <span><i class="fa-solid fa-star"></i></span>
                                                    <span><i class="fa-solid fa-star"></i></span>
                                                    <span><i class="fa-solid fa-star"></i></span>
                                                    <span><i class="fa-solid fa-star-half-stroke"></i></span>
                                                    <span class="number-people-rating">(4,172)</span>
                                                </div>
                                                <div class="course-price"><span class="currency" style="font-style: underline;">đ</span>{{price}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                    {{!-- <div class="swiper-slide">
                                        <div class=" card-container">
                                            <div class="image">
                                                <img src=" /img/logo.png" alt="">
                                            </div>

                                            <div class="content">
                                                <div class="course-name">Learn Python: The complete Python Programming Course</div>
                                                <div class="course-author">Avinash Jain, The Codex</div>
                                                <div class="course-rating">
                                                    <span class="rating">4.5</span>
                                                    <span><i class="fa-solid fa-star"></i></span>
                                                    <span><i class="fa-solid fa-star"></i></span>
                                                    <span><i class="fa-solid fa-star"></i></span>
                                                    <span><i class="fa-solid fa-star"></i></span>
                                                    <span><i class="fa-solid fa-star-half-stroke"></i></span>
                                                    <span class="number-people-rating">(4,172)</span>
                                                </div>
                                                <div class="course-price"><span class="currency" style="font-style: underline;">đ</span>999,000</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class=" card-container">
                                            <div class="image">
                                                <img src=" /img/logo.png" alt="">
                                            </div>

                                            <div class="content">
                                                <div class="course-name">Learn Python: The complete Python Programming Course</div>
                                                <div class="course-author">Avinash Jain, The Codex</div>
                                                <div class="course-rating">
                                                    <span class="rating">4.5</span>
                                                    <span><i class="fa-solid fa-star"></i></span>
                                                    <span><i class="fa-solid fa-star"></i></span>
                                                    <span><i class="fa-solid fa-star"></i></span>
                                                    <span><i class="fa-solid fa-star"></i></span>
                                                    <span><i class="fa-solid fa-star-half-stroke"></i></span>
                                                    <span class="number-people-rating">(4,172)</span>
                                                </div>
                                                <div class="course-price"><span class="currency" style="font-style: underline;">đ</span>999,000</div>
                                            </div>
                                        </div>
                                    </div> --}}


                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                        <br>

                        <h2>Featured Course</h2>
                        <div class="featured-course">
                            <div class="swiper mySwiper3 featured-slide-container">
                                <div class="swiper-wrapper featured-cards-container">
                                    {{#each featuredcourse}}
                                       <div class="swiper-slide" id="featured-slide">
                                        <div class="featured-course-card">
                                            <a href="/course?id={{course_id}}" class="featured-course-image">
                                                <img src=" /img/anime-blender-course.png" alt="">
                                            </a>
                                            <div class="featured-course-description">
                                                <div>
                                                    <span class="name">{{title}}</span>
                                                    <br>
                                                    <span class="description">{{description}}</span>
                                                    <br>
                                                    <span class="author">By {{author}}</span>
                                                    <br>
                                                    <span class="date-line">Updated <span class="update-date">{{releasedate}}</span></span>
                                                    <span class="infor">{{duration}} total hours</span>
                                                    <span class="infor"><i class="fa-sharp fa-solid fa-circle"></i> {{numberlessons}} lectures</span>
                                                    <span class="infor"><i class="fa-sharp fa-solid fa-circle"></i> Intermediate</span>
                                                    <div class="featured-course-rating">
                                                        <span class="featured-rating">{{rating}}</span>
                                                        <span><i class="fa-solid fa-star"></i></span>
                                                        <span><i class="fa-solid fa-star"></i></span>
                                                        <span><i class="fa-solid fa-star"></i></span>
                                                        <span><i class="fa-solid fa-star"></i></span>
                                                        <span><i class="fa-solid fa-star-half-stroke"></i></span>
                                                        <span class="number-rating">(40)</span>
                                                        <span class="trend-tag">Hot & New</span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="price">đ{{price}}</span>
                                                    <s class="old-price">đ1,699,000</s>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                        <br>

                        <h2>Popular Topic</h2>
                        <div class="popular-topic">
                            <div class="swiper mySwiper2 topic-slide-container">
                                <div class="swiper-wrapper topic-cards-container">
                                    <div class="swiper-slide" id="topic-slide">
                                        <div class="popular-topic-card">
                                            <form>
                                                <button><a href="">Python</a></button>
                                            </form>
                                        </div>
                                        <div class="popular-topic-card">
                                            <form>
                                                <button><a href="">Web</a></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" id="topic-slide">
                                        <div class="popular-topic-card">
                                            <form>
                                                <button><a href="">Python</a></button>
                                            </form>
                                        </div>
                                        <div class="popular-topic-card">
                                            <form>
                                                <button><a href="">WEb</a></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" id="topic-slide">
                                        <div class="popular-topic-card">
                                            <form>
                                                <button><a href="">Python</a></button>
                                            </form>
                                        </div>
                                        <div class="popular-topic-card">
                                            <form>
                                                <button><a href="">WEb</a></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" id="topic-slide">
                                        <div class="popular-topic-card">
                                            <form>
                                                <button><a href="">Python</a></button>
                                            </form>
                                        </div>
                                        <div class="popular-topic-card">
                                            <form>
                                                <button><a href="">WEb</a></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" id="topic-slide">
                                        <div class="popular-topic-card">
                                            <form>
                                                <button><a href="">Python</a></button>
                                            </form>
                                        </div>
                                        <div class="popular-topic-card">
                                            <form>
                                                <button><a href="">WEb</a></button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>

                        <h2>All Development courses</h2>
                        <div class="not-sure-block">
                            <span><i class="fa-solid fa-circle-info"></i></span>
                        </div>
                    </div>

                </div>

            </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper1 = new Swiper(".mySwiper1", {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        var swiper2 = new Swiper(".mySwiper2", {
            slidesPerView: 5,
            spaceBetween: 10,
            slidesPerGroup: 5,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        var swiper3 = new Swiper(".mySwiper3", {
            slidesPerView: 1,
            slidesPerGroup: 1,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>

     <script src="/js/authorization.js"></script>
</body>

</html>